<meta charset="UTF-8">
{% load staticfiles %}
<meta name="description"
      content="Polguide er en uavhengig guide til varebeholdningen i Vinmonopolet sine butikker.
          Sorter og filtrer på blant annet navn, pris, type, alkoholprosent og alkoholpris.">
<meta name="keywords" content="polguide"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="fragment" content="!" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "apple-touch-icon-57x57.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "apple-touch-icon-114x114.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "apple-touch-icon-72x72.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "apple-touch-icon-144x144.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "apple-touch-icon-60x60.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "apple-touch-icon-120x120.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "apple-touch-icon-76x76.png" %}"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "apple-touch-icon-152x152.png" %}"/>
<link rel="icon" type="image/png" sizes="196x196" href="{% static "favicon-196x196.png" %}"/>
<link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon-96x96.png" %}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}"/>
<link rel="icon" type="image/png" sizes="128x128" href="{% static "favicon-128.png" %}"/>
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF"/>
<meta name="msapplication-TileImage" content="{% static "mstile-144x144.png" %}"/>
<meta name="msapplication-square70x70logo" content="{% static "mstile-70x70.png" %}"/>
<meta name="msapplication-square150x150logo" content="{% static "mstile-150x150.png" %}"/>
<meta name="msapplication-wide310x150logo" content="{% static "mstile-310x150.png" %}"/>
<meta name="msapplication-square310x310logo" content="{% static "mstile-310x310.png" %}"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/main.css" %}">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
