{% extends "base.html" %}
{% block scripts %}
    <script>
        window.onpopstate = function () {
            //history.go(0); //TODO: forward functionality
        };
        var filterform = $(".filterform").serialize();
        $(document).ready(function(){
            loadTable();
            $(".filterform").change(updateTable);
        });
        function updateTable() {
            history.pushState({}, "asdf", '/pol/liste?' + filterform);
            loadTable();
        }
        function loadTable() {
            filterform = $(".filterform").serialize();
            $.ajax({
                type: "GET",
                url: '/pol/table',
                data: filterform,
                success: function(data) {
                    $('#table').html(data);
                }
            });
        }
        var sistvarenummer;
        function utvid(varenummer) {
            var sistvare = $('#' + sistvarenummer);
            if(sistvarenummer > 0) {
                sistvare.slideUp();
            }
            if (varenummer == sistvarenummer) {
                sistvarenummer = 0;
                return sistvarenummer;
            }
            sistvarenummer = varenummer;
            var vare = $('#' + varenummer);
            $.ajax({
                type: "GET",
                url: '/pol/produkt/'+varenummer,
                success: function(data) {
                    vare.html(data).slideDown();
                }
            });
        }
        function sort(query) {//TODO: have to press twice to toggle enhetspris at page load
            var valgt = $('#id_o_' + query);
            if (valgt.is(':checked'))
                $('#id_o_' + (query + 1)).prop("checked", true);
            else
                valgt.prop("checked", true);
            loadTable()
        }
    </script>
{% endblock scripts %}
{% block sidebar %}
    <form class="filterform">
        <div class="form-group">{{ varenavnform }}</div>
        <div id="varetypeform" class="form-group collapse">{{ varetypeform }}</div>
        {# TODO: faster/easier to minimize again #}
        <a class="btn btn-link" data-toggle="collapse" data-target="#varetypeform">Mer</a>
        <div class="form-group">{{ prisform }}</div>
        <div class="form-group">{{ volumform }}</div>
        <div class="form-group">{{ alkoholform }}</div>
        <div class="form-group">{{ enhetsprisform }}</div>
        <div class="form-group hidden">{{ sorteringsform }}</div>
    </form>
{% endblock sidebar %}
{% block content %}
    <div id="table"></div>
    {% comment %}<table class="table table-striped">
    <thead><tr>
        <th><label for="id_o_5">Navn</label></th>
        <th><label for="id_o_4">Type</label></th>
        <th><label for="id_o_3">Pris</label></th>
        <th id="asdf"><label for="id_o_2">Volum</label></th>
        <th><label for="id_o_1">Alkohol</label></th>
        <th><label for="id_o_0">Pris/cl</label></th>
    </tr></thead>
    <tbody>
    {% for produkt in filter %}
        <tr>
            <td>{{ produkt.varenavn }}</td>
            <td>{{ produkt.varetype }}</td>
            <td>{{ produkt.pris }}.-</td>
            <td>{{ produkt.volum }}l</td>
            <td>{{ produkt.alkohol }}%</td>
            <td>{{ produkt.enhetspris }}kr</td>
        </tr>
    {% endfor %}
    </tbody>
</table>{% endcomment %}
{% endblock content %}