{% extends "base.html" %}
{% block sidebar %}
    <form class="filterform">
        <div class="input-group"><span class="input-group-addon form-label">Varenavn</span>{{ varenavnform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Pris</span>{{ prisform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Volum</span>{{ volumform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Alkohol</span>{{ alkoholform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Alkoholpris</span>{{ enhetsprisform }}</div>
        <div class="input-group">
            <span class="input-group-addon form-label">Varetyper</span>{{ varetypeform }}
        </div>
        <div class="input-group hidden">
            <label for="side"></label><input id="side" name="side" value="{{ side }}">
        </div>
        <div class="input-group">
            <span class="input-group-addon form-label">Butikk</span>
            {{ butikkategoriform }}
            <span class="input-group-btn">
                <button id="kartknapp" type="button" class="btn btn-primary" data-toggle="collapse"
                        data-target="#kartholder" onclick="lastKart()">
                    <i aria-label="kart" class="fa fa-map"></i>
                    Kart
                </button>
            </span>
        </div>
        <div id="kartholder" class="collapse">
            <div id="kart"></div>
        </div>
        <div id="sorteringsform" class="input-group hidden">
            {{ sorteringsform }}
        </div>
    </form>
{% endblock sidebar %}
{% block content %}
    <div id="table"></div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}