{% extends "base.html" %}
{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
{% endblock css %}
{% block sidebar %}
    <form class="filterform">
        <div class="input-group"><span class="input-group-addon form-label">Varenavn</span>{{ varenavnform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Pris</span>{{ prisform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Volum</span>{{ volumform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Alkohol</span>{{ alkoholform }}</div>
        <div class="input-group tofelts">
            <span class="input-group-addon form-label">Alkoholpris</span>{{ enhetsprisform }}</div>
        <div class="input-group">
            <span class="input-group-addon form-label">Varetyper</span>{{ varetypeform }}
        </div>
        <div class="input-group hidden">
            <label for="side"></label><input id="side" name="side" value="{{ side }}">
        </div>
        <div class="input-group">
            <span class="input-group-addon form-label">Butikk</span>
            {{ butikkategoriform }}
            <span class="input-group-btn">
                <button id="kartknapp" type="button" class="btn btn-primary" data-toggle="collapse"
                        data-target="#kartholder" onclick="lastKart()">
                    <i aria-label="kart" class="fa fa-map"></i>
                    Kart
                </button>
            </span>
        </div>
        <div id="kartholder" class="collapse">
            <div id="kart"></div>
        </div>
        <div id="sorteringsform" class="input-group">
            {{ sorteringsform }}
        </div>
    </form>
{% endblock sidebar %}
{% block content %}
    <div id="table" class="table-responsive"></div>
{% endblock content %}
{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript">

        window.onpopstate = function (event) {
            if (event.state == null) {
                $('.filterform').find('input').val('');
            } else {
                var values = {};
                $.each(event.state, function (i, field) {
                    values[field.name] = field.value;
                });
                $('.filterform').find('input').val(function () {
                    //console.log(this.name);
                    //console.log(values[this.name]);
                    return values[this.name];
                });
                loadTable(true);
            }
        };

        var ffselector = $('.filterform');
        var filterform = ffselector.serialize();

        $(document).ready(function () {
            loadTable(true); // TODO: sometimes load twice
            $('.filterform').change(loadTable);
            $('#id_varetype').select2({
                placeholder: 'Velg varetyper',
                width: '100%'
            });
        });

        function loadTable(nopush) {
            filterform = ffselector.serialize();
            if (nopush != true) {
                history.pushState(ffselector.serializeArray(), 'asdf', '/pol?' + filterform);
                //alert("pushing");
            }
            $.ajax({
                type: 'GET',
                url: '/pol/table',
                data: filterform,
                success: function (data) {
                    $('#table').html(data);
                    $('.tablesort span').removeClass();
                    var sortedby = $('#id_o')[0].selectedIndex;
                    var desc = sortedby % 2;
                    if (desc) {
                        $('#o_' + (sortedby - desc)).addClass('fa fa-sort-desc');
                    } else {
                        $('#o_' + (sortedby)).addClass('fa fa-sort-asc');
                    }
                }
            });
        }

        var sistvarenummer;
        function utvid(varenummer) {
            var sistvare = $('#' + sistvarenummer);
            if (sistvarenummer > 0) {
                sistvare.slideUp();
            }
            if (varenummer == sistvarenummer) {
                sistvarenummer = 0;
                return sistvarenummer;
            }
            sistvarenummer = varenummer;
            var vare = $('#' + varenummer);
            $.ajax({
                type: 'GET',
                url: '/pol/produkt/' + varenummer,
                success: function (data) {
                    vare.html(data).slideDown();
                }
            });
        }

        function sort(query) {
            var valgtselector = $('#id_o').find('option');
            var valgt = valgtselector.eq(query);
            if (valgt.is(':selected'))
                valgtselector.eq(query + 1).prop('selected', true);
            else
                valgt.prop('selected', true);
            loadTable();
        }

        function page(number) {
            $('#side').val(number);
            loadTable();
            return false
        }

    </script>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css"/>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script>
        function lastKart() {
            if ($('#kart').html().length == 0) {
                var options = {
                    infowindow: false
                };
                cartodb.createVis('kart', 'https://simennj.cartodb.com/api/v2/viz/16b23eda-69d2-11e5-a1bb-0e674067d321/viz.json', options)
                        .done(function (vis, layers) {
                            //layers[1].setInteraction(true);
                            layers[1].setInteractivity("butikknavn, kategori");
                            layers[1].on('featureClick', function (e, latlng, pos, data) {
                                $('#id_butikkategori').val(data.kategori);
                                loadTable();
                                $('#kartholder').collapse('hide');
                            });
                        });
            }
        }
    </script>
{% endblock scripts %}