<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th class="tablesort" onclick="sort(10)"><i id="o_10" class="fa fa-sort"></i>Navn</th>
        <th class="tablesort" onclick="sort(8)"><i id="o_8" class="fa fa-sort"></i>Type</th>
        <th class="tablesort" onclick="sort(6)"><i id="o_6" class="fa fa-sort"></i>Pris</th>
        <th class="tablesort" onclick="sort(4)"><i id="o_4" class="fa fa-sort"></i>Volum</th>
        <th class="tablesort" onclick="sort(2)"><i id="o_2" class="fa fa-sort"></i>Alkohol</th>
        <th class="tablesort" onclick="sort(0)"><i id="o_0" class="fa fa-sort"></i>Alkoholpris</th>
    </tr>
    </thead>
    <tbody>
    {% for produkt in produkter %}
        <tr class="produkt" onclick="utvid({{ produkt.varenummer }})">
            <td class="varenavn-td">{{ produkt.varenavn }}</td>
            <td class="varetype-td">{{ produkt.varetype }}</td>
            <td class="pris-td">{{ produkt.pris }},-</td>
            <td class="volum-td">{{ produkt.volum }}l</td>
            <td class="alkohol-td">{{ produkt.alkohol }}%</td>
            <td class="enhetspris-td">{{ produkt.enhetspris }}kr/cl</td>
        </tr>
        <tr>
            <td colspan="6" id="produktinfo">
                <div id="{{ produkt.varenummer }}" class="produktdiv"><br><br><br></div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<nav class="pagination-nav">
    <ul class="pagination">
        {% if produkter.has_previous %} {# TODO: python pagination? #}
            <li><a onclick="return page({{ produkter.previous_page_number }})" href="#" aria-label="Previous"
                   rel="prev">
        {% else %}
            <li class="disabled"><a aria-label="Previous">
        {% endif %}
        <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% for n in produkter.paginator.page_range %}
            <li id="sidenummer_{{ n }}" class="sidenummer"><a href="#"
                                                              onclick="return page({{ n }})">{{ n }}</a></li>
        {% endfor %}
        {% if produkter.has_next %}
            <li><a onclick="return page({{ produkter.next_page_number }})" href="#" aria-label="Next" rel="next">
        {% else %}
            <li class="disabled"><a aria-label="Next">
        {% endif %}
        <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    </ul>
</nav>
<script>
    paginationNavigation({{ produkter.number }}, {{ produkter.paginator.num_pages }});
</script>