<table class="table table-striped">
    <thead><tr>
        <th class="tablesort" onclick="sort(10)"><span id="o_10"></span>Navn</th>
        <th class="tablesort" onclick="sort(8)"><span id="o_8"></span>Type</th>
        <th class="tablesort" onclick="sort(6)"><span id="o_6"></span>Pris</th>
        <th class="tablesort" onclick="sort(4)"><span id="o_4"></span>Volum</th>
        <th class="tablesort" onclick="sort(2)"><span id="o_2"></span>Alkohol</th>
        <th class="tablesort" onclick="sort(0)"><span id="o_0"></span>Pris/cl</th>
    </tr></thead>
    <tbody>
    {% for produkt in filter %}
        <tr onclick="utvid({{ produkt.varenummer }})">
            <td>{{ produkt.varenavn }}</td>
            <td>{{ produkt.varetype }}</td>
            <td>{{ produkt.pris }}.-</td>
            <td>{{ produkt.volum }}l</td>
            <td>{{ produkt.alkohol }}%</td>
            <td>{{ produkt.enhetspris }}.-</td>
        </tr>
        <tr>
            <td colspan="6" id="produktinfo">
                <div id="{{ produkt.varenummer }}" class="produktdiv"><br><br><br></div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>