<table class="table table-striped">
    <thead><tr>
        <th onclick="sort(10)">Navn</th>
        <th onclick="sort(8)">Type</th>
        <th onclick="sort(6)">Pris</th>
        <th onclick="sort(4)">Volum</th>
        <th onclick="sort(2)">Alkohol</th>
        <th onclick="sort(0)">Alkhol/kr</th>
    </tr></thead>
    <tbody>
    {% for produkt in filter %}
        <tr onclick="utvid({{ produkt.varenummer }})">
            <td>{{ produkt.varenavn }}</td>
            <td>{{ produkt.varetype }}</td>
            <td>{{ produkt.pris }}.-</td>
            <td>{{ produkt.volum }}cl</td>
            <td>{{ produkt.alkohol }}%</td>
            <td>{{ produkt.enhetspris }}ml</td>
        </tr>
        <tr>
            <td colspan="6" id="produktinfo">
                <div id="{{ produkt.varenummer }}" class="produktdiv"><br></div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>