{% extends "base.html" %}
{% block content %}

<table class="table table-striped">
    <thead><tr>
        <th>Navn</th>
        <th>Type</th>
        <th>Alkoholprosent</th>
        <th>Volum</th>
        <th>Alkoholmengde</th>
    </tr></thead>
    <tbody>
    {% for produkt in toppliste %}
        <tr>
            <td>{{ produkt.varenavn }}</td>
            <td>{{ produkt.varetype }}</td>
            <td>{{ produkt.alkohol }} %</td>
            <td>{{ produkt.volum }} cl</td>
            <td>{{ produkt.enhetspris }} kr/ml</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}