<table class="table table-striped">
    <thead><tr>
        <th>navn</th>
        <th>type</th>
        <th>alkohol</th>
        <th>volum</th>
        <th>alkhol/krone</th>
    </tr></thead>
    <tbody>
    {% for produkt in toppliste %}
        <tr>
            <td>{{ produkt.varenavn }}</td>
            <td>{{ produkt.varetype }}</td>
            <td>{{ produkt.alkohol }}</td>
            <td>{{ produkt.volum }}</td>
            <td>{{ produkt.enhetspris }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>