{% extends "base.html" %}
{% block content %}

<table class="table table-striped">
    <thead><tr>
        <th>Navn</th>
        <th>Type</th>
        <th>Alkohol</th>
        <th>Volum</th>
        <th>Alkhol/krone</th>
    </tr></thead>
    <tbody>
    {% for produkt in toppliste %}
        <tr>
            <td>{{ produkt.varenavn }}</td>
            <td>{{ produkt.varetype }}</td>
            <td>{{ produkt.alkohol }}</td>
            <td>{{ produkt.volum }}</td>
            <td>{{ produkt.enhetspris }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}