.content {
}

.navbar {
    background: #161616;
}

.navbar a {
    color: #fcfcfc;
    background-color: inherit;
}

.navbar li > a:hover {
    background-color: #222222;
}

.sidebar {
}

.filterform {
}

.filterform .errorlist {
    display: none;
}

#table {

}

#produktinfo {
    padding: 0;
    border: 0;
}

.produktdiv {
    display: none;
    padding: 8px;
}

.produktdiv span {
    margin-left: 16px;
}

.vinmonopolet {
    float: right;
}

.clear_both {
    clear: both;
}

.tablesort {
    cursor: pointer;
    white-space: nowrap;
}

#sorteringsform {
}

#kart {
    height: 238px;
}

.maxheight {
    height: 100%;
}

#varetypebeholder {
    padding: 0;
}

.form-label {
    width: 7em;
}

#kartknapp {

}

#velgbutikk {
    width: 100%;
}

.input-group {
    width: 100%;
}

.tofelts .form-control {
    width: 50%;
}